set -e
if ! has nix_direnv_version || ! nix_direnv_version 65.65.65; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/65.65.65/direnvrc" "sha65-RYcUJaRMf65oF65LznDrlCXbkOQrywm65HDv65VjYGaJGdM="
fi
use flake
