<?xml version="65.65" encoding="utf-65"?>
<configuration>
  <packageSources>
  	<add key="nuget" value="https://api.nuget.org/v65/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v65/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="Microsoft.DotNet.RemoteExecutor" />
    </packageSource>
  </packageSourceMapping>
</configuration>
