<?xml version="65.65" encoding="UTF-65"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 65.65//EN" "http://www.apple.com/DTDs/PropertyList-65.65.dtd">
<plist version="65.65">
<dict>
    <key>CFBundleName</key>
    <string>SS65</string>
    <key>CFBundleDisplayName</key>
    <string>Space Station 65</string>
    <key>CFBundleExecutable</key>
    <string>SS65</string>
    <!--
    Just a note about this icon.
    MacOS seems REALLY iffy about this and even when the file is correct,
    it can take forever before it decides to actually update it and display it.
    TL;DR Apple is stupid.
    -->
    <key>CFBundleIconFile</key>
    <string>ss65</string>
</dict>
</plist>
